{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

<h2>Gestion estudiantil</h2>
<h3>Curso: {{ curso }} - Sección: {{ seccion }}</h3>
<table class="table table-success table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">C.I</th>
      <th scope="col">Género</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for estudiante in estudiantes %}
    <tr id="fila-estudiante-{{ forloop.counter }}">
      <td>
        {{ forloop.counter }}
      </td>
      <td>
        {{ estudiante.nombres }}
      </td>
      <td>
        {{ estudiante.apellidos }}
      </td>
      <td>
        {{ estudiante.ci }}
      </td>
      <td>
        {{ estudiante.genero }}
      </td>
      <td>
        <button style="cursor: pointer; border: none; outline: none; background-color: transparent" onClick="borrarEstudiante({{ estudiante.id }})">
          <img src="{% static 'images/icons/trash-icon.png' %}" alt="Eliminar" width="30" height="30">
        </button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">No se encontraron estudiantes</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{# Boton para abrir modal para agregar estudiante #}
<button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalAgregarEstudiante">
  Agregar Estudiante
</button>

<script src="{% static 'dom/eliminarEstudiante.js' %}"></script>

{# Modal #}
<div class="modal fade" id="modalAgregarEstudiante" tabindex="-1" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs5" id="modalLabel">Agregar estudiante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form action="" id="agregarEstudiante">
          {% csrf_token %}

          {# Campo para nombre #}
          <div class="mb-3">
            <label for="nombres" class="form-label">Nombres:</label>
            <input type="text" class="form-control" id="nombres" name="nombres" required>
          </div>

          {# Campo para apellidos #}
          <div class="mb-3">
            <label for="apellidos">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" required>
          </div>

          {# Campo para cedula de identidad #}
          <div class="mb-3">
            <label for="cedula">Cedula de identidad:</label>
            <input type="text" class="form-control" id="cedula" name="cedula" required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar estudiante</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
