{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

<!-- Buscador de estudiantes -->
<main class="container">
  <section class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form action="{% url 'me-buscar-estudiantes' %}" method="GET" class="card card-body">
        {% csrf_token %}
        <h2 class="Display-3">Gestión estudiantil</h2>

        <!-- Selector de Curso -->
        <div class="d-flex">
          <label for="curso" class="btn btn-outline-dark mb-5">Curso:</label>
          <select name="curso" required class="form-select form-select-lg mb-5" id="curso"
            aria-label="Selecciona el curso del estudiante">
            <option value="">Selecciona el año</option>
            {% for curso in cursos %} {# Itera sobre la lista de diccionarios con los valores de los cursos #}
            <option value="{{ curso.id }}" {% if not curso.habilitado %}disabled{% endif %}>{{ curso.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Selector de Sección -->
        <div class="d-flex">
          <label class="btn btn-outline-dark mb-5" for="seccion">Seccion:</label>
          <select name="seccion" required class="form-select form-select-lg mb-5" id="seccion"
            aria-label="Selecciona la seccion del estudiante en su curso.">
            <option value="">Seleccione una sección</option>
          </select>
        </div>

        <script src="{% static 'dom/selectorCursos.js' %}"></script>
        <button class="btn btn-dark" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </section>
</main>

{% endblock %}
