{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

<!-- Buscador de estudiantes -->
<main class="container">
  <section class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form action="" method="POST" class="card card-body">
        {% csrf_token %}
        <h2 class="Display-3">Gestión estudiantil</h2>

        <!-- Selector de Curso -->
        <div class="d-flex">
          <label for="curso" class="btn btn-outline-primary mb-5">Curso:</label>
          <select name="curso" required class="form-select form-select-lg mb-5" id="curso"
            aria-label="Selecciona el curso del estudiante">
            <option value="">Selecciona el año</option>
            <option class="" value="1">1er año</option>
            <option class="" value="2">2do año</option>
            <option class="" value="3">3er año</option>
            <option class="" value="4">4to año</option>
            <option class="" value="5">5to año</option>
          </select>
        </div>

        <!-- Selector de Sección -->
        <div class="d-flex">
          <label class="btn btn-outline-primary mb-5" for="seccion">Seccion:</label>
          <select name="seccion" required class="form-select form-select-lg mb-5" id="seccion"
            aria-label="Selecciona la seccion del estudiante en su curso.">
            <option value="">Seleccione una sección</option>
          </select>
        </div>

        <script src="{% static 'dom/selectorCursos.js' %}"></script>
        <button class="btn btn-primary" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </section>
</main>

{% endblock %}
